.frame4,
.success-in-the {
  position: absolute;
  width: 860px;
}
.success-in-the {
  top: 16px;
  left: 0;
  display: inline-block;
  height: 436.6px;
}
.frame4 {
  top: 0;
  left: 348.3px;
  height: 452.6px;
  overflow: hidden;
}
.developer- {
  margin: 0;
}
.developer-manish-container,
.photo-1-icon {
  position: absolute;
  top: 368.1px;
  left: 80.7px;
}
.photo-1-icon {
  top: 0;
  left: 0;
  width: 304.2px;
  height: 354px;
  object-fit: cover;
}
.frame2,
.frame3,
.frame5 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame5 {
  left: 0;
  width: 304.2px;
  height: 422.1px;
  text-align: center;
  font-size: var(--font-size-3xl-5);
  color: var(--color-black);
}
.frame2,
.frame3 {
  left: 45px;
  width: 1208.4px;
  height: 452.6px;
}
.frame2 {
  top: 16px;
  left: 0;
  width: 1253.4px;
}
.div,
.logoswhatsapp-icon {
  position: absolute;
  top: 121px;
}
.logoswhatsapp-icon {
  left: 1030px;
  width: 35px;
  height: 35.3px;
  overflow: hidden;
}
.div {
  left: 1089px;
  display: inline-block;
  width: 204px;
  height: 33px;
}
.frame-inner,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1352px;
  height: 415.9px;
}
.frame-inner {
  height: 406px;
  text-align: left;
  font-size: var(--font-size-3xl-5);
}
.social-iconsx-twitterorigi,
.social-iconsyoutubeoriginal {
  width: 37.6px;
  position: relative;
  height: 37.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.social-iconsx-twitterorigi {
  cursor: pointer;
}
.frame7,
.social-iconsyoutubeoriginal-parent {
  position: absolute;
  width: 190px;
  overflow: hidden;
}
.social-iconsyoutubeoriginal-parent {
  top: 288px;
  left: 0;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px var(--padding-lg);
  box-sizing: border-box;
  gap: 25px;
}
.frame7 {
  top: 0;
  left: 57px;
  height: 346px;
}
.about,
.frame8 {
  position: absolute;
  width: 59.2px;
}
.about {
  top: 8px;
  left: 0;
  display: inline-block;
  height: 32.9px;
}
.frame8 {
  top: 0;
  left: 65px;
  height: 40.9px;
  overflow: hidden;
}
.frame9,
.social-media {
  position: absolute;
  top: 251.1px;
  left: 0;
}
.frame9 {
  top: 0;
  left: 67.6px;
  width: 113px;
  height: 274.1px;
  overflow: hidden;
  text-align: left;
}
.a-website-for,
.frame10 {
  position: absolute;
  width: 291.1px;
}
.a-website-for {
  top: 52.1px;
  left: 0;
  display: flex;
  align-items: center;
  height: 156.8px;
}
.frame10 {
  top: 0;
  left: 67.6px;
  height: 208.9px;
  overflow: hidden;
  text-align: left;
  color: var(--color-gray-200);
}
.httpsangel-oneonelinkmew {
  margin: 0;
  color: var(--color-steelblue);
}
.angel-one-demat-container1 {
  width: 100%;
}
.angel-one-demat-container {
  position: absolute;
  top: 127px;
  left: 0;
  display: flex;
  align-items: center;
  width: 306.1px;
  height: 79.8px;
}
.frame11 {
  position: absolute;
  top: 0;
  left: 370px;
  width: 306.1px;
  height: 206.8px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.tradingview-httpswwwtradin {
  position: absolute;
  top: 55px;
  left: 0;
  display: inline-block;
  width: 286px;
  height: 54px;
}
.frame12 {
  position: absolute;
  top: 0;
  left: 390px;
  width: 286px;
  height: 109px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.frame13,
.helpfull-links {
  position: absolute;
  width: 141.8px;
}
.helpfull-links {
  top: 12px;
  left: 0;
  display: inline-block;
  height: 32.9px;
}
.frame13 {
  top: 0;
  left: 445px;
  height: 44.9px;
  overflow: hidden;
}
.frame14,
.httpswwwnseindiacom {
  position: absolute;
  top: 45.5px;
  left: 0;
}
.frame14 {
  top: 0;
  left: 676px;
  width: 286px;
  height: 72.5px;
  overflow: hidden;
  font-size: var(--font-size-3xl-5);
  color: var(--color-steelblue);
}
.httpswwwmoneycontrolcoms {
  position: absolute;
  top: 109px;
  left: 0;
  display: inline-block;
  width: 292px;
  height: 116px;
}
.frame15 {
  position: absolute;
  top: 0;
  left: 690px;
  width: 292px;
  height: 225px;
  overflow: hidden;
  font-size: var(--font-size-3xl-5);
  color: var(--color-steelblue);
}
.frame-icon,
.frame16,
.news {
  position: absolute;
  width: 59.2px;
}
.news {
  top: 10px;
  left: 0;
  display: inline-block;
  height: 32.9px;
}
.frame-icon,
.frame16 {
  top: 0;
  left: 777px;
  height: 42.9px;
  overflow: hidden;
}
.frame-icon {
  left: 1027px;
  width: 35px;
  height: 87px;
}
.contact-us,
.mkbgs8051gmailcom {
  position: absolute;
  top: 0;
  left: 1094px;
  display: inline-block;
  width: 122.1px;
  height: 31.9px;
}
.mkbgs8051gmailcom {
  left: 0;
  width: 261px;
  height: 46px;
}
.frame17,
.frame6,
.mkbgs8051gmailcom-wrapper {
  position: absolute;
  top: 52px;
  left: 0;
  width: 261px;
  height: 46px;
}
.frame17,
.frame6 {
  top: 0;
  left: 1075px;
  height: 98px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl-5);
  color: var(--color-steelblue);
}
.frame6 {
  top: 512.2px;
  left: 0;
  width: 1352px;
  height: 406px;
  text-align: center;
  font-size: var(--font-size-lg-8);
  color: var(--color-black);
}
.footer-bar {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 919.2px;
  overflow: hidden;
  text-align: left;
  font-size: 37.6px;
  color: rgba(32, 63, 91, 0.5);
  font-family: var(--font-inter);
}
