.logo-1 {
  width: 100%;
  position: relative;
  height: 116px;
  background-image: url(./public/logo-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
