.contact1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.chart-and-indicator-container,
.contact,
.developer-profile {
  position: absolute;
  display: inline-block;
  width: 268px;
  height: 40px;
}
.contact {
  top: 191px;
  left: 4px;
}
.chart-and-indicator-container,
.developer-profile {
  left: 0;
}
.chart-and-indicator-container {
  top: 55px;
  cursor: pointer;
}
.developer-profile {
  top: 0;
}
.news1 {
  top: 97px;
  left: 0;
}
.about1,
.educational-content,
.news1 {
  position: absolute;
  display: inline-block;
  width: 268px;
  height: 40px;
}
.educational-content {
  top: 144px;
  left: 4px;
  cursor: pointer;
}
.about1 {
  top: 236px;
  left: 0;
}
.menu-bar {
  width: 381px;
  position: relative;
  background-color: rgba(38, 73, 43, 0.36);
  height: 377px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-fraunces);
}
