.screenshot-2024-12-18-172412-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 427px;
  object-fit: cover;
}
.page-7 {
  width: 100%;
  position: relative;
  height: 1050px;
  overflow: hidden;
  background-image: url(./public/page-7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
