.statedefault-icon,
.statevariant2-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 100%;
  overflow: hidden;
  height: 16px;
}
.statevariant2-icon {
  top: 56px;
}
.search-on-progress-line {
  width: 100%;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 128px;
  overflow: hidden;
}
